:root {
	--clr-green-400: #377482;
	--clr-green-450: #223e48;
	--clr-green-500: #264a54;

	--clr-dark-450: #1d1d28;
	--clr-dark-500: #1c1d29;
	--clr-dark-550: #16161e;
	--clr-dark-600: #20222c;
	--clr-dark-650: #1a1b26;
	--clr-dark-700: #1c1c28;
	--clr-dark-750: #13131a;
	--clr-dark-800: #161819;
	--clr-dark-850: #101014;
}
