.w-9\/12 {
	width: 75%;
}

.w-10\/12 {
	width: 83.333333%;
}

.w-11\/12 {
	width: 91.666667%;
}

.w-full {
	width: 100%;
}
.w-screen {
	width: 100vw;
}

.w-min {
	width: min-content;
}

.w-max {
	width: max-content;
}

.w-fit {
	width: fit-content;
}
