.editor-container {
	.editor-container__text-title {
		margin: 1em;
		background: transparent;
		border: none;
		color: #9a989d;
		font-size: 2rem;

		&:focus-visible {
			outline: none;
			font-size: 2rem;
		}
	}
}
