@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-ExtraLight.otf') format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-ExtraLightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Thin.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-ThinItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-MediumItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-Black.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Mono Lisa';
	src: url('../../../typography/mono-lisa/MonoLisa-BlackItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
